// Styles for all of the user pages:
// Login, Signup, Support

page-login {
  .logo {
    padding: 180px 0 20px;
    min-height: 200px;
    text-align: center;

    img {
      max-width: 200px;
    }
  }

  .list {
    margin-bottom: 0;
  }
  .login-page {
    background-image: url('../../assets/img/login.jpg');
    background-size: cover;
  }
  .input-form {
    background-color: rgba(160, 193, 224, 0.5);
    margin: 0;
  }
  .label {
    color: rgb(255, 255, 255);
  }
  .hr {
    margin: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left, #a0c1e080, #8c8b8b, #a0c1e080);
  }
}