<!-- Generated template for the CricketTableComponent component -->
<div>
  <table class="cricket-table">
    <thead class="cricket-table-head">
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
      <th>Bull</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="{{cricketTable[15] | cricketMark}}">
        </td>
        <td>
          <img src="{{cricketTable[16] | cricketMark}}">
        </td>
        <td>
          <img src="{{cricketTable[17] | cricketMark}}">
        </td>
        <td>
          <img src="{{cricketTable[18] | cricketMark}}">
        </td>
        <td>
          <img src="{{cricketTable[19] | cricketMark}}">
        </td>
        <td>
          <img src="{{cricketTable[20] | cricketMark}}">
        </td>
        <td>
          <img src="{{cricketTable[25] | cricketMark}}">
        </td>
      </tr>
    </tbody>
  </table>
</div>
