<!-- Generated template for the CricketKeyboardComponent component -->
<div class="cricket-keyboard">
  <ion-row>
    <ion-col><button class="key" (tap)="onTap">&lt;</button></ion-col>
    <ion-col><button class="key" (tap)="onTap">Double</button></ion-col>
    <ion-col><button class="key" (tap)="onTap">Triple</button></ion-col>
    <ion-col><button class="key" (tap)="onTap">&gt;</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col><button class="key" (tap)="onTap">Bull</button></ion-col>
    <ion-col><button class="key" (tap)="onTap">18</button></ion-col>
    <ion-col><button class="key" (tap)="onTap">19</button></ion-col>
    <ion-col><button class="key" (tap)="onTap">20</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col><button class="key" (tap)="onTap">-</button></ion-col>
    <ion-col><button class="key" (tap)="onTap">15</button></ion-col>
    <ion-col><button class="key" (tap)="onTap">16</button></ion-col>
    <ion-col><button class="key" (tap)="onTap">17</button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col><button class="key clear-key" (tap)="onTap">Clear</button></ion-col>
    <ion-col><button class="key save-key" (tap)="onTap">Save</button></ion-col>
  </ion-row>
</div>
