<!-- Generated template for the ScoreTableComponent component -->
<div class="score-table">
  <ion-row>
    <ion-col>
      <strong>ラウンド</strong>
    </ion-col>
    <ion-col>
      <strong>1</strong>
    </ion-col>
    <ion-col>
      <strong>2</strong>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <strong>1throw</strong>
    </ion-col>
    <ion-col>
      ??
    </ion-col>
    <ion-col>
      ??
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <strong>1throw</strong>
    </ion-col>
    <ion-col>
      ??
    </ion-col>
    <ion-col>
      ??
    </ion-col>
  </ion-row>
</div>
