score-table {
  .score-cell {
    text-align: center;
    padding: 10px 20px;
  }
  .score-roll {
    text-align: center;
    padding: 10px 5px;
  }
  .score-table {
    overflow-x: scroll;
    background-color: white;
    table-layout: fixed;
  }
  .score-head {
    border-bottom: 2px solid black;
  }
  .score-footer {
    border-top: 2px solid black;
  }
}
