<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Score</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="gameType" (ionChange)="updateGameType()">
        <ion-segment-button [value]="GameTypes.COUNTUP">
          Count Up
        </ion-segment-button>
        <ion-segment-button [value]="GameTypes.ZEROONE">
          01 Games
        </ion-segment-button>
        <ion-segment-button [value]="GameTypes.CRICKET">
          Cricket
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <score-table></score-table>
  <score-display></score-display>
  <cricket-keyboard *ngIf="gameType === GameTypes.CRICKET"></cricket-keyboard>
  <default-keyboard *ngIf="gameType !== GameTypes.CRICKET"></default-keyboard>
</ion-content>